doctype html
-
    var myAge = ~~((new Date() - new Date('1996/05/06')) / 3.15576e10);
    var links = {
        'VK':       '//vk.me/danakt',
        'Telegram': '//telegram.me/danakt',
        'GitHub':   '//github.com/danakt'
    }
    var year = (2016 === new Date().getFullYear())
        ? 2016
        : '2016–' + new Date().getFullYear()
    var meta = {
        robots:        'index, follow',
        location:      'Saint-Petersburg, Russia',
        viewport:      'width=device-width, initial-scale=1.0',
        description:   'Danakt Frost, creative frontend developer',
        keywords:      '',
        author:        'Danakt Frost'
    }
    var metaOG = {
        type:          'blog',
        title:         'Danakt Frost',
        image:         'http://danakt.ru/img/sharing0.jpg',
        site_name:     'Danakt Frost',
        description:   'Creative frontend developer'
    }
    var metaTwitter = {
        'card':        'summary_large_image',
        'site':        '@danakt_frost',
        'creator':     '@danakt_frost',
        'title':       'Danakt Frost',
        'description': 'Creative frontend developer',
        'image:src':   'http://danakt.ru/img/sharing0.jpg'
    }

include mixins
title Danakt Frost

+comment('Favicon')
link(rel='icon' type='image/png' href='/img/favicon.png')
link(rel='apple-touch-icon' href='/img/favicon.png')

+comment('Meta')
meta(charset='utf-8')
-for(var name in meta)
    meta(name=name  content=meta[name])

+comment('Open Graph meta')
-for(var name in metaOG)
    meta(property='og:'+ name  content=metaOG[name])

+comment('Twitter meta')
-for(var name in metaTwitter)
    meta(name='twitter:'+ name  content=metaTwitter[name])

+comment('Styles')
link(href='/css/main.css' rel='stylesheet')

+comment('Scripts')
script(src='/js/main.js')

+comment('Content')
.bgvideo
    video#bgvid(poster='/img/poster.png' playsinline autoplay muted)
        source(src='/video/hsdf3kMz7.mp4' type='video/mp4')

a.logo(href='/' title='Homepage')

.about
    //- .about_langthumb
        a#eng(href='#' class='active' title='Switch to English') ENG
        != ' / '
        a#rus(href='#' title='Switch to Russian') РУС
    h1.about_name.glitch#name
        | Danakt Frost
        - for(var i = 0; i < 2; i++)
            span(data-text='Danakt Frost')

    .about_text
        | Hello, my name is Danakt. I'm a #{myAge} y/o creative frontend
        | developer based in St Petersburg, Russia. I currently work at
        | eLearning development company #{''}
        a(href='//hypermethod.ru/' target='_blank') HyperMethod
        | , and I'm also available
        | for freelance works.
        | <br><br>
        | Get in touch with me on #{''}
        - for(var link in links)
            a(href=links[link] traget='blank')= link
            = ', '
        | or send me an email at #{''}
        a(href='mailto:mail@danakt.com') mail@danakt.com

.f-left= year
